<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <body>
        <!-- header -->
        <header class="header">
            <div class="navbar-top">
                <img class="img-logo" src="/img/logo-mercado-liebre.svg" alt="logo" class="img-header">
                <form class="search-bar" action="#" method="GET">
                    <input type="text" placeholder="Buscar productos, ofertas y mas!">
                    <div class="submit"><i class="fa fa-search"></i></div>
                </form>
                <div class="hand-holding-div">
                    <i class="fas fa-hand-holding-usd"></i>
                    <p>Compra en cuotas y sin tarjeta de credito</p>
                </div>
            </div>      
    
            <div class="navbar-bottom">
                <ul class="ul-nav-items">
                    <li><a href="">Ofertas</a></li>
                    <li><a href="">Tiendas Oficiales</a></li>
                    <li><a href="">Vender</a></li>
                    <li><a href="">Ayuda</a></li>
                </ul>
                <span></span>
                <ul class="ul-nav-user">
                    <div>
                        <li><a href="/register">Crea tu cuenta</a></li>
                        <i class="fas fa-address-card"></i>
                    </div>
                    <div>
                        <li><a href="/login">Ingresa</a></li>
                        <i class="fas fa-sign-in-alt"></i>
                    </div>
                    <div>
                        <li><a href="">Mis compras</a></li>
                        <i class="fas fa-shopping-basket"></i>      
                    </div>
                </ul>
                <div class="burger-menu">
                    <i class="fas fa-bars"></i>
                </div>
            </div>
        </header>
        <img src="/img/img-home-banner.jpg" alt="">
        <br>
        <!-- forulario --> 
        <section class="login-main-section">
            <div class="formulario-main">
                <form action="" class="formulario-usuario">
                    <div class="username-form">
                        <label for="">Nombre de usuario</label>
                        <input placeholder="Nombre de usuario" type="text">
                    </div>
                    <div class="password-form">
                        <label for="">Contraseña</label>
                        <input placeholder="Contraseña" type="password">
                    </div>
                    <button class="login-btn" type="submit">Ingresa</button>
                </form> 
            </div>  
        </section>
        <!-- footer -->
        <footer class="footer">  
            <div class="footer-top">
                <div>
                    <i class="fas fa-credit-card"></i>
                    <h3>Pagá con tarjeta o en efectivo</h3>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                        puntos de pago. ¡Y siempre es seguro!
                    </p>
                </div>
                <br>
                <div>
                    <i class="fas fa-gift"></i>
                    <h3>Envío gratis desde $ 2.500</h3>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                        productos. Es un beneficio de Mercado Puntos.
                    </p>
                </div>
                <br>
                <div>
                    <i class="fas fa-user-shield"></i>
                    <h3>Seguridad, de principio a fin</h3>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                        porque estás siempre protegid@.
                    </p>
                </div>  
            </div>
            <div class="footer-bottom">
                <div class="copyright">
                    <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
                </div>  
            </div>     
            <br>
            <br>
        </footer>
    </body>
</body>
</html>